@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  background: linear-gradient(#29251c, #2c2306);
  color: #d9e2f1;
}
#root {
  width: 100%;
  min-height: 100vh;
}
button,
input {
  font: inherit;
}